* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 237, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}


.bayan-wrapper {
    max-width: 30em;
}

.bayan {
    width: 100%;
    margin-top: 3em;
}

.bayan li {
    list-style: none;
    margin-bottom: 1em;
}

.bayan-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 208, 178);
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.bayan-header + input[type="radio"] {
    display: none;
}

.bayan-icon {
    transform: rotate(90deg);
}

.bayan-item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.bayan-img {
    width: 30em;
    height: 25em;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;

}

.first-img {
    background-image: url('./img/senior-vs-junior.png');
}

.second-img {
    background-image: url('./img/challenge-accepted.png');
}

.third-img {
    background-image: url('./img/samurai.png');
    background-size: 20em 20em;
}

.fourth-img {
    background-image: url('./img/success.png');
}

.fifth-img {
    background-image: url('./img/waiting.png');
    background-size: 20em 20em;
}

.bayan-header + input[type="radio"]:checked + .bayan-item-content {
    max-height: 20em;
}